$blue: #fff000 !default;

@mixin margenes($top){
	margin-top: $top;
}

.jumbotron {
	background-color: $blue;
	color: black;
	padding: 112px;
}

footer {
	background-color: $blue;
}

.card-product {
	
	@include margenes (10px);
}

.btn-detalles{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.card-header{
	padding: 0px;
}

.p-2{
	padding: 0px;
}

.container{
	padding-right: 0px;
	padding-left: 0px;
	max-width: 1200px;
}
