.jumbotron {
  background-color: #fff000;
  color: black;
  padding: 112px; }

footer {
  background-color: #fff000; }

.card-product {
  margin-top: 10px; }

.btn-detalles {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.card-header {
  padding: 0px; }

.p-2 {
  padding: 0px; }

.container {
  padding-right: 0px;
  padding-left: 0px;
  max-width: 1200px; }
